<h1>Please pick one of your career track below</h1>

<div class="tracks">
  <h2>Track 1</h2>
  <a href="#"><h3>Front End Developer</h3></a>
</div>

<div class="tracks">
  <h2>Track 2</h2>
  <a href="#"><h3>Ruby on Rails Engineer</h3></a>
</div>

<h2>Latest Interview Questions Feed</h2>
<ol>
  <%= @questions.each do |question| %>
  <li>
    Votes: <%= question.votes %> (<%= link_to "Upvote", upvote_question_path(question.id), method: :patch %>, <%= link_to "Downvote", downvote_question_path(question.id), method: :patch %>) <a href="/questions/<%= question.id %>"><%= question.title %></a>  Category: <%= question.job_title %>  Interview Type: <%= question.interview_type %> Topic: <%= question.topic.topic_name %>
  </li>
  <% end %>
</ol>

<h2>Latest Resources Feed</h2>
<ol>
  <%= @resources.each do |resource| %>
  <li>
    Votes: <%= resource.votes %> (<%= link_to "Upvote", question_resource_upvote(question_id: @question.id, resource_id: resource.id), method: :patch %>, <%= link_to "Downvote", question_resource_downvote(question_id: @question.id, resource_id: resource.id), method: :patch %>) <a href="<%= resource.link %>"><%= resource.title %></a>   Topic: <%= resource.question.topic.topic_name %>
  </li>
  <% end %>
</ol>

<%= link_to "Submit a New Interview Question", new_question_path, method: :get %>