<div class="content">
  <h2 class="content-head is-center">Please pick a career track below</h2>
</div>

  <div class="pure-g splash-container">
    <div class="tracks-title">
      <a href="/questions/tracks/Front0End0Developer/topics/1"><!-- HACK -->
        <div class="pure-u-1-2 tracks odd">
          <div class="is-center">
            <h2>Track 1</h2>
            <h3>Front End Developer</h3>
          </div>
        </div>
      </a>

      <a href="/questions/tracks/Ruby0on0Rails0Engineer">
        <div class="pure-u-1-2 tracks even">
          <div class="is-center">
            <h2>Track 2</h2>
            <h3>Ruby on Rails Engineer</h3>
          </div>
        </div>
      </a>
    </div>
  </div>

<div class="content-wrapper">
  <div class="content">
  <%= link_to "Submit a New Interview Question", new_question_path, method: :get, :class => 'pure-button new-question pure-u-2-5' %>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <div class="l-box">
          <h3 class="content-subhead is-center">Most Popular Interview Questions</h3>
          <ul class="list">
            <% @questions.each do |question| %>
            <li>
              <div class="voting">
                  <a href="/questions/<%= question.id %>/upvote" class="fa fa-plus-circle"></a>
                  <br>
                  <a href="/questions/<%= question.id %>/downvote" class="fa fa-minus-circle"></a>
              </div>
              <div class="pure-u-5-6">
                <div class="votes">Votes: <%= question.votes %></div>
                <div class="summary">
                  <a href="/questions/<%= question.id %>"><%= question.title %></a>
                </div>
                <div class="tags">
                  <span class="label">Category: <%= question.job_title %></span>
                  <span class="label">Interview Type: <%= question.interview_type %></span>
                  <span class="label">Topic: <%= question.topic.topic_name %></span>
                  <span class="author">Posted By: <%= question.user.username %> on <%= question.created_at.strftime('%a %d %b %Y') %></span>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="pure-u-1-2">
        <div class="l-box">
          <h3 class="content-subhead is-center"> Most Popular Resources</h3>
          <ul class="list">
            <% @resources.each do |resource| %>
            <li>
              <div class="voting">
                  <a href="/questions/<%= resource.question.id %>/resources/<%= resource.id %>/upvote" class="fa fa-plus-circle"></a>
                  <br>
                  <a href="/questions/<%= resource.question.id %>/resources/<%= resource.id %>/downvote" class="fa fa-minus-circle"></a>
              </div>
              <div class="pure-u-5-6">
                <div class="votes">Votes: <%= resource.votes %></div>
                  <div class="summary">
                    <a href="<%= resource.link %>" target="_blank"><%= resource.title %></a>
                  </div>
                  <div class="summary">
                    <%= resource.content %>
                  </div>
                  <div class="tags">
                    <span class="label">Topic: <%= resource.question.topic.topic_name %>
                    <span class="author">Posted By: <%= resource.user.username %> on <%= resource.created_at.strftime('%a %d %b %Y') %></span>
                    </span>
                  </div>
                </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>