<div class="content">

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-3-5">

      <%= form_for @question, html: {class: "pure-form pure-form-stacked"} do |f| %>
        <fieldset>
        <legend>Interview Question Details</legend>
        <%= f.label :job_title, 'Category (e.g. Front End Developer)' %>
        <%= f.text_field :job_title %>

        <%= f.label :topic, 'Question topic' %>
        <%= f.text_field :topic, placeholder: 'jQuery, CSS etc' %>

        <%= f.label :title, 'Question Title' %>
        <%= f.text_field :title, placeholder: 'Explain what HTTP is' %>

        <%= f.label :content, 'Question Details' %>
        <%= f.text_area :content, placeholder: 'Write any question related details here', :rows => 10, :class => "pure-input-1" %>

        <%= f.label :interview_type, 'Interview Format' %>
        <%= select_tag(:interview_type, options_for_select([['Onsite', 'Onsite'], ['Phone', 'Phone'], ['Email/Online Challenge', 'Email/Online Challenge']])) %>
        <br>
        <%= f.submit "Submit", :class => 'pure-button' %>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>