<div class="content">

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">Question: <%= @question.title %></h3>
        <ul class="list">
          <li>
            <div class="voting">
                  <a href="/questions/<%= @question.id %>/upvote" class="fa fa-plus-circle"></a>
                  <br>
                  <a href="/questions/<%= @question.id %>/downvote" class="fa fa-minus-circle"></a>
              </div>
              <div class="pure-u-5-6">
                <div class="votes">Votes: <%= @question.votes %></div>
                  <div class="summary"><%= @question.title %></div>
                  <div class="summary"><%= @question.content %></div>
                  <div class="tags">
                    <span class="label">Category: <%= @question.job_title %></span>
                    <span class="label">Interview Type: <%= @question.interview_type %></span>
                    <span class="label">Topic: <%= @question.topic.topic_name %></span>
                    <span class="author">Posted By: <%= @question.user.username %> on <%= @question.created_at.strftime('%a %d %b %Y') %></span>
                  </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">User submitted Resources</h3>
        <% if @question.resources.any? %>
        <ul class="list">
        <% @resources.each do |resource| %>
          <li>
            <div class="voting">
                  <a href="/questions/<%= resource.question.id %>/resources/<%= resource.id %>/upvote" class="fa fa-plus-circle"></a>
                  <br>
                  <a href="/questions/<%= resource.question.id %>/resources/<%= resource.id %>/downvote" class="fa fa-minus-circle"></a>
              </div>
              <div class="pure-u-5-6">
                <div class="votes">Votes: <%= resource.votes %></div>
                <div class="summary">
                  <a href="<%= resource.link %>" target="_blank"><%= resource.title %></a>
                  </div>
                  <div class="summary">
                    <%= resource.content %>
                  </div>
                  <div class="tags">
                    <span class="label">Topic: <%= resource.question.topic.topic_name %></span>
                    <span class="author">Posted By: <%= resource.user.username %> on <%= resource.created_at.strftime('%a %d %b %Y') %></span>
                  </div>
                </div>
              </li>
        <% end %>
        <% else %>
        <h4>Currently no resources has been submitted yet related to this question. Be the first!</h4>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% unless @user.submitted_resource?(@question.id) %>
  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">Have a Resource to Submit?</h3>

        <%= link_to "Yes!", new_question_resource_path(question_id: @question.id), method: :get, :class => 'pure-button pure-u-1-5' %>

      </div>
    </div>
  </div>
  <% end %>

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
  <% if @user.submitted_answer?(@question.id) %>

        <h3 class="content-subhead">User submitted Answers</h3>
        <ul class="list">
        <% @answers.each do |answer| %>
          <li>
            <div class="voting">
                  <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/upvote" class="fa fa-plus-circle"></a>
                  <br>
                  <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/downvote" class="fa fa-minus-circle"></a>
            </div>
            <div class="pure-u-5-6">
              <div class="votes">Votes: <%= answer.votes %></div>
              <div class="summary"><%= link_to "View Answer", question_answer_path(question_id: @question.id, id: answer.id), method: :get %></div>
              <div class="tags">
                <span class="author">Posted By: <%= answer.user.username %> on <%= answer.created_at.strftime('%a %d %b %Y') %></span>
              </div>
            </div>
          </li>
        <% end %>
        </ul>


  <% else %>

      <h3 class="content-subhead">Ready to Submit Your Answer?</h3>

      <%= link_to "Yes!", new_question_answer_path(question_id: @question.id), method: :get, :class => 'pure-button pure-u-1-5' %>

      <% end %>
    </div>
  </div>
</div>

</div>