<div class="content">

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">Question: <%= @question.title %></h3>
        <ul class="list">
          <li>
            <div class="votes">Votes: <%= @question.votes %> (<%= link_to "Upvote", upvote_question_path(@question.id), method: :patch %>, <%= link_to "Downvote", downvote_question_path(@question.id), method: :patch %>)</div>
              <div class="summary">Content: <%= @question.content %></div>
              <div class="tags">
                <span class="label">Category: <%= @question.job_title %></span>
                <span class="label">Interview Type: <%= @question.interview_type %></span>
                <span class="label">Topic: <%= @question.topic.topic_name %></span>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">User submitted Resources</h3>
        <ul class="list">
        <% @resources.each do |resource| %>
          <li>Votes: <%= resource.votes %> (<%= link_to "Upvote", question_resource_upvote_path(question_id: @question.id, resource_id: resource.id), method: :patch %>, <%= link_to "Downvote", question_resource_downvote_path(question_id: @question.id, resource_id: resource.id), method: :patch %>)  <a href="http://<%= resource.link %>" target="_blank"><%= resource.title %></a>   Topic: <%= resource.question.topic.topic_name %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% unless @user.submitted_resource?(@question.id) %>
  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
        <h3 class="content-subhead">Have a Resource to Submit?</h3>

        <%= link_to "Yes!", new_question_resource_path(question_id: @question.id), method: :get, :class => 'pure-button pure-u-1-5' %>

      </div>
    </div>
  </div>
  <% end %>

  <div class="pure-g">
    <div class="pure-u-5-6">
      <div class="l-box">
  <% if @user.submitted_answer?(@question.id) %>

        <h3 class="content-subhead">User submitted Answers</h3>
        <ul class="list">
        <% @answers.each do |answer| %>
          <li>Votes: <%= answer.votes %> (<%= link_to "Upvote", question_answer_upvote_path(question_id: @question.id, answer_id: answer.id), method: :patch %>, <%= link_to "Downvote", question_answer_downvote_path(question_id: @question.id, answer_id: answer.id), method: :patch %>)  <%= link_to "View Answer", question_answer_path(question_id: @question.id, id: answer.id), method: :get %></li>
        <% end %>
        </ul>


  <% else %>

      <h3 class="content-subhead">Ready to Submit Your Answer?</h3>

      <%= link_to "Yes!", new_question_answer_path(question_id: @question.id), method: :get, :class => 'pure-button pure-u-1-5' %>

      <% end %>
    </div>
  </div>
</div>

</div>