<div class="content">
  <h2 class="content-head is-center"><%= @user.username %>'s profile page</h2>

  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <h3 class="content-subhead">Questions Submitted by You</h3>
        <ul>
          <% @user.questions.each do |question| %>
          <li>Votes: <%= question.votes %>  <a href="/questions/<%= question.id %>"><%= question.title %></a> <i class="fa fa-caret-right"></i> Category: <%= question.job_title %> <i class="fa fa-caret-right"></i> Interview Type: <%= question.interview_type %> <i class="fa fa-caret-right"></i> Topic: <%= question.topic.topic_name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <h3 class="content-subhead">Answers Submitted by You</h3>
        <ul>
          <% @user.answers.each do |answer| %>
          <li>Votes: <%= answer.votes %>  <a href="/questions/<%= answer.question.id %>"><%= answer.content %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <h3 class="content-subhead">Resources Submitted by You</h3>
        <ul>
          <% @user.resources.each do |resource| %>
          <li>Votes: <%= resource.votes %>  <a href="<%= resource.link %>"><%= resource.title %></a>  <i class="fa fa-caret-right"></i> Content: <%= resource.content %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>