<h1>Adding New Resource</h1>

<%= form_for(@resource) do |f| %>

  <%= f.lable :title, 'A concise title for your resource' %>
  <%= f.text_field :title %>

  <%= f.lable :link, 'Link to external resource' %>
  <%= f.text_field :link %>

  <%= f.lable :content, 'Add some details about your resource' %>
  <%= f.text_field :content %>

  <%= f.submit "Submit" %>

<% end %>